@tailwind base;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-100.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-200.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-300.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-regular.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-500.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-600.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-700.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-800.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-800.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter"), url("/fonts/inter-v7-latin-900.woff2") format("woff2"),
    url("/fonts/inter-v7-latin-900.woff") format("woff");
}

* {
  outline-color: rgba(74, 85, 104, var(--text-opacity));
}

html {
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  color: #303030;
  overflow-y: scroll;
}

@tailwind components;

.container {
  @apply max-w-6xl mx-auto px-6;
}

.container p {
  @apply mt-4;
}

@tailwind utilities;
